.genprod{
    display: flex;
    margin: 10px;
    border: solid rgb(170, 153, 173) 2px; 
}
.genprod_grid{
    margin: 10px;
    max-width: 374px;
    border: solid rgb(170, 153, 173) 2px; 
}
.image{
    max-width: 374px;
}