.genprod{
    display: flex;
    margin: 10px;
    border: solid rgb(170, 153, 173) 2px; 
}
.genprod_grid{
    margin: 10px;
    max-width: 365px;
    border: solid rgb(170, 153, 173) 2px; 
}
.image{
    max-width: 100%;
}
.info{
    padding: 10px;
}