<!--The content below is only a placeholder and can be replaced.-->
<div class="menu">
  <div class="cont_menu">
    <div class="menu_display">
      <div class="display">Display</div>
      <div class="menu_display_but">
        <button (click)="styleList()">List</button>
        <button (click)="styleGrid()">Grid</button>
      </div>
    </div>
    <div>
      <button (click)="visCart()">Cart</button>
    </div>
  </div>
</div>

<div [ngClass]='list_grid' >
  <div *ngFor="let x of newProdList">
    <app-cprod [itemProd]="x" (addId)="addToCart($event)" [style]=this.prod_l_g></app-cprod>
  </div>
</div>

<div [ngClass]='hideCart'>
 
    <app-ccart [itemCart]="itemCart"></app-ccart>
  
</div>
