<!--The content below is only a placeholder and can be replaced.-->
<div class="menu">
  <div class="menu_display">
    <div>Display</div>
    <button (click)="styleList()">List</button>
    <button (click)="styleGrid()">Grid</button>
  </div>
  <div>
    <button (click)="visCart()">Cart ({{newCartList.length}})</button>
  </div>
</div>

<div [ngClass]='list_grid' >
  <div *ngFor="let x of newProdList">
    <app-cprod [itemProd]="x" (addId)="addToCart($event)" [style]=this.prod_l_g></app-cprod>
  </div>
</div>

<div [ngClass]='hideCart'>
  <br>
  <h2>Cart</h2>
  <div class="itemCart">
    <div>
      <strong>NAME</strong>
    </div>
    <div>   
      <strong>PRICE</strong>
    </div>
    <div>
        <strong>NUMBER</strong>
    </div>
    <div class="right">
        <strong>AMOUNT</strong>
    </div>
    <div class="right">
    </div>      
  </div>
  <div *ngFor="let x2 of newCartList">
    <app-ccart [itemCart]="x2" (addP)="addProd($event)" (minusP)="minusProd($event)" (del)="delProdItem($event)"></app-ccart>
  </div>
  <div class="itemCart">
      <div>
        <strong>TOTAL PRICE</strong>
      </div>
      <div>   
      </div>
      <div>
      </div>
      <div class="right">
          $<strong>{{totalCart()}}</strong>
      </div>
      <div class="right">
        <button (click)="clear()">Clear cart</button>
      </div>      
    </div>
</div>
