.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgb(170, 153, 173);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
   
}
.menu_display{
    display: flex;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    max-width: 1200px;
    /*border: solid grey 2px;*/
    box-sizing: border-box;
}
.list{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    max-width: 1200px;
    /*border: solid grey 2px;*/
    box-sizing: border-box;
}
.cart{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    max-width: 1200px;
    /*border: solid grey 2px;*/
    box-sizing: border-box;
}
.hide{
    display: none;
}
.itemCart{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    width: 97%;
    border: solid rgb(170, 153, 173) 2px;
    color: rgb(170, 153, 173);
}
.itemCart div {
    width: 20%;
}
.right{
    text-align: right;
}
